name: Master-Build-Docker-Images

on:
 push:
  branches: [ master ]
   # 有版本号时才能激活actions
#  tags:
#   - v*
 pull_request:
  branches: [ master ]
jobs:
 push:
  runs-on: ubuntu-latest
  steps:
   - name: 临时变量
     env:
      IMAGE_NAME: "fl_backend_learning_wall"
      TAG_NAME: "latest"
   - name: 拉取项目代码
   - uses: actions/checkout@v2
   - name: 配置Golang环境
   - uses: actions/setup-go@v3.0.0
     with:
      go-version: true
     run: |
#          echo "##[set-env name=GOPATH;]$(dirname $GITHUB_WORKSPACE)"
#          echo "##[add-path]$(dirname $GITHUB_WORKSPACE)/bin"
           echo 'Set GOPATH'
#   - name: Build and publish Docker Image to GitHub Packages Registry
#     uses: ckmuun/gp-docker-action@0.0.3
#     with:
#      github-token: ${{secrets.TOKEN}}
#      image-name: $IMAGE_NAME
#      extract-git-tag: true
#      dockerfile: Dockerfile
#      build-context: .
#      build-folder: .
#      pull-image: false
   - name: Login Github,Build And Push Docker Image
     run: |
          echo '=====登录Github====='
          echo ${{secrets.TOKEN}} | docker login ghcr.io -u FriendshipLodge --password-stdin
          echo '=====登录成功====='
          echo '=====开始构建镜像====='
          docker build -t ghcr.io/FriendshipLodge/$IMAGE_NAME:$TAG_NAME .
          echo '=====构建镜像完成====='
          echo '=====开始上传镜像====='
          docker push ghcr.io/FriendshipLodge/$IMAGE_NAME:$TAG_NAME
          echo '=====镜像上传完成====='